* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

body {
    padding: 2.5%;
    font-family: monospace;
    font-size: 1.25em;
    line-height: 2em;
    background-color: white;
    display: flex;
}

a {
    color: #2774AE;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

/* sidebar */
#side {
    flex: 5%;
}

#sticky{
    position: sticky;
    top: 0;
}

#name {
    padding: 2.5%;
    text-align: center;
}

#links {
    padding: 2.5%;
    background-color: white;
}

#links ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

#pic {
    padding: 2.5%;
    text-align: center;
}

#me {
    border-radius: 5%;
}

/* main */
#main {
    flex: 50%;
}

#bio {
    padding: 2.5%;
    text-indent: 1em;
    padding-bottom: 0%;
}

#output {
    padding: 2.5%;
}

#output ul {
    padding: 1%;
    list-style: square;
}

#output hr {
    border: 1px dashed grey;
    margin: 0.5%;
}
